nav.navbar {
      position: relative;
      height: calc(2rem + 4vh);
      width: 100vw;
      background-color: #FF90E8;
      position: fixed;
      top: 0;
      left: 0;
      font-family: "Nohemi Medium";
      border: 1.5px solid black;
      display: flex;
      justify-content: space-between;
      align-items: center;
}