.swirly {
      position: absolute;
      margin-left: 43rem;
      margin-top: 2rem;

      animation: spin 15s linear infinite;
      transform-origin: center center;
      /* Adjust as needed */
      transform-style: preserve-3d;


}