.home {
      height: 100%;
      width: 100vw;
      position: relative;
      background-image: linear-gradient(rgba(134, 138, 246, .3) .1em, transparent .08rem), linear-gradient(90deg, rgba(134, 138, 246, .3) .08rem, transparent .1em);
      background-size: 19.8vw 19.8vw;
}

.first-section {
      position: relative;
      height: 100vh;
      width: 100vw;
}

.swirly {
      position: absolute;
      margin-left: 43rem;
      margin-top: 2rem;
      animation: spin 15s linear infinite;
      transform-origin: center center;
      /* Adjust as needed */
      transform-style: preserve-3d;
}

/*positioning decoration */

.clouds {
      position: absolute;
      scale: 0.8;
      opacity: 0.6;
}

.clouds:nth-of-type(1) {
      position: absolute;
      margin-top: 17rem;
      animation: firstcloud 3s infinite cubic-bezier(0.215, 0.610, 0.355, 1);
      scale: 0.5;


}

@keyframes firstcloud {
      0% {
            scale: 0.5
      }

      50% {
            scale: .52
      }

      100% {
            scale: 0.5
      }
}

.clouds:nth-of-type(2) {
      rotate: 30deg;
      margin-top: 24rem;
      margin-left: 47rem;
}

.pink-field-div {
      position: absolute;
      font-size: 2rem;
      margin-left: 35rem;
      margin-top: calc(12.2rem + 10vh);
      font-family: "Nohemi Bold";
      background-color: #FF90E8;
      width: calc(38rem + 5vw);
      text-align: center;
      border-radius: 40px;
      padding: 10px 0 10px 0;
      border: 2px solid black;
      box-shadow: 1px 6px 1px black;
}

.colorfields-section {
      position: absolute;
      background-color: transparent;
      width: 32rem;
      height: 16rem;
      margin-left: 44rem;
      margin-top: 22rem;
}

.field {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid black;
      width: calc(7rem + 2vw);
      height: 4rem;
      border-radius: 40px;
      font-size: 1.7rem;
      font-family: "Nohemi Bold";
      box-shadow: 1px 4px 1px black;
}

.field:nth-of-type(1) {
      margin-left: -2rem;
      background-color: #EE8F9E;
      margin-top: 2.5rem;
      rotate: 30deg;
}

.field:nth-of-type(2) {
      margin-left: 7rem;
      margin-top: 2rem;
      rotate: 20deg;
      background-color: #30A69A;
}

.field:nth-of-type(3) {
      margin-left: -4rem;
      margin-top: 8rem;
      background-color: #CFED90;
      rotate: 15deg;
}

.field:nth-of-type(4) {
      margin-left: 7rem;
      margin-top: 9rem;
      background-color: #90CCED;
      rotate: -33deg;
}