.about_container {
      height: 100vh;
      width: 100%;
}

.about_container h1 {
      position: fixed;
      margin-top: calc(20px + 10vh);
      margin-left: calc(20px + 2vw);
      top: 0;
      left: 0;
      font-style: italic;
      width: 80%;
      letter-spacing: -3px;
      font-size: 4rem;

}