@font-face {
  font-family: 'Nohemi Medium';
  src: url('./general_resources/fonts/Nohemi/Nohemi-Medium.woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Nohemi Bold';
  src: url('./general_resources/fonts/Nohemi/Nohemi-Bold.woff'), url('./general_resources/fonts/Nohemi/Nohemi-Bold.woff2');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Chopper';
  src: url('./general_resources/fonts/Chopper/chopper.otf');
  font-weight: normal;
  font-style: normal;
}

.App {
  height: 100vh;
  padding: 10px;
  background-image: linear-gradient(rgba(255, 255, 255, .3) .1em, transparent .1em), linear-gradient(90deg, rgba(255, 255, 255, .3) .1em, transparent .1em);
  background-size: 19.8vw 19.8vw;
}

li {
  list-style-type: none;
}