.feed {

      min-height: 100vh;
      display: flex;
      flex-direction: column;
      width: 100%;
      overflow: scroll;
}

.feed h1 {
      position: fixed;
      top: 0;
      left: 0;
      font-style: italic;
      mix-blend-mode: screen;
      width: 40%;
      letter-spacing: -3px;
      font-size: 6rem;
}

.feed-title {
      font-size: 5rem;

}

.track-title-display {
      margin-top: 20rem;
      font-size: 3rem !important;
      letter-spacing: -1px !important;
      color: #FF90E8;
      line-height: 3.3rem;
}


.feed-container {
      display: grid;
      grid-template-columns: 1fr;
      margin-top: 15rem;
      gap: 40px;
      z-index: 1;
}

.feed-player-container {
      display: flex;
      justify-content: center;
      align-items: center;
}

.feed-player-container img {
      position: absolute;
      scale: 0.5;
      margin-left: 80%;
      cursor: pointer;
}



.react-player {
      width: 80%;
      box-shadow: 10px 10px 1px #FF90E8;
      border-radius: 80px;
      margin-left: 30rem;

}

.radio-station-img {
      height: 10rem;
      width: 10rem;
      margin-left: 15%;
      position: fixed;
      margin-top: 20rem;
}